@import "../../styles.scss";

// LAYOUT
header mat-toolbar {
  background-color: $color-primary;
  h1 {
    color: white;
    margin: 0 auto;
    @media (min-width: $desktop-breakpoint) {
      width: 100%;
      text-align: left;
      max-width: px-to-rem(1160px);
      margin: 2em auto 0 auto;
    }
  }
  @media (min-width: $desktop-breakpoint) {
    height: px-to-rem(150px);
  }
}
