@import "../../../styles.scss";

.cards-display {
  padding: 0 1em;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 auto;
    max-width: px-to-rem(1200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(px-to-rem(270px), 1fr));
    justify-content: space-between;
    gap: 1em;
  }
}
