// Typography
mat-card {
  margin-top: 1em;
  mat-card-content {
    card-header {
      h3 {
        font-weight: 400;
        font-size: 1.25rem;
      }
    }
  }
  mat-card-content {
    .yellow-star.icon-star-full:before {
      color: #eda128;
    }
    .gray-star.icon-star-full:before {
      color: #c6c6c6;
    }
  }
  mat-card-actions {
    .icon-circle-down {
      color: var(--color-principal);
      font-size: 2rem;
    }
  }
}

// Layout
mat-card {
  margin-top: 1em;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  mat-card-content {
    .card-header {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-between;
      h3 {
        color: var(--color-principal);
      }
    }
    p {
      margin-top: 1em;
      transition: all 0.5s ease-in-out;
    }
    p.cutoff-text {
      --max-lines: 7;
      max-height: calc(var(--max-lines) * 1em);
      overflow: hidden;
      position: relative;
    }
    p.expanded {
        max-height: 1000px;
        clip-path: inset(0 0 0 0);
    }
    p.cutoff-text::before {
      content: "";
      position: absolute;
      height: 1em;
      width: 100%;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent, white);
    }
    p.expanded::before {
        opacity: 0;
      }
  }
  mat-card-actions {
    position: relative;
    padding: 0;
    min-height: 30px !important;
    .icon-circle-down {
      cursor: pointer;
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 auto;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease-in-out;
      transform-origin: center center;
    }
    .rotated {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
